@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import "tailwindcss";

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
  --font-orbitron: "Orbitron", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes match-start-from-left {
  0% {
    opacity: 0;
    transform: translate3d(-25%, 0, 0) skewX(-12deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) skewX(-12deg);
  }
}

@keyframes match-start-from-right {
  0% {
    opacity: 0;
    transform: translate3d(25%, 0, 0) skewX(-12deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) skewX(-12deg);
  }
}

@keyframes match-ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
